// 定数系
@import 'constant';
// コンポーネントごとのCSS
@import 'command-list';
@import 'status-area';
@import 'target-area';
@import 'skill-area';

body {
    background-color: black;
}

div {
    ul {
        background-color: #000;
        li {
            color: #fff;
        }
    }
}