.list {
  display: flex;
  flex-direction: column;
  border: solid 1px #000;
  border-radius: 4px;
  width: 600px;
}

.list__label {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 2px #ccc;
}
.list__item {
  text-align: center;
  line-height: 1.6;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 1px #000;
}
/* 最後のボーダー消す */
.list__item:last-of-type {
  border: none;
}

.list__title {
  border-left: solid 1px #000;
  width: calc(100% / 4);
}
.list__title:first-of-type {
  /* 一番左の要素は左ボーダー消す */
  border-left: none;
}

.list__value {
  text-align: center;
  border-left: solid 1px #000;
  width: calc(100% / 4);
  /* 左マージン打ち消し */
  margin-inline-start: 0;
}
.list__value:first-of-type {
  /* 一番左の要素は左ボーダー消す */
  border-left: none;
}